.arrow-button-wrapper {
  width: 74px;
  height: 48px;
  .arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #aa00ff;
    border-radius: 8px;
    width: 74px;
    height: 48px;

    cursor: pointer;
    user-select: none;

    &.extreme-element {
      display: none;
    }
  }
}
