@import "../../index.scss";

.currentExerciseTitle,
.getReadyTitle {
  text-align: center;
  font-size: 32px;

  @media (max-width: 800px) {
    font-size: 20px;
  }
}

.currentExerciseTitle.finishedExerciseClue {
  color: $exerciseColor;
}

.timerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

  .timerWrapper {
    @media (max-width: 800px) {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}

.exerciseInner {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 800px) {
    & {
      width: 100%;
    }
  }
}
