.current-exercise-title,
.get-ready-title {
  text-align: center;
  font-size: 32px;

  @media (max-width: 800px) {
    font-size: 20px;
  }
}

.current-exercise-title.finished-exercise--clue {
  color: rgba(255, 64, 129, 1);
}

.timer-wrapper {
  @media (max-width: 800px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.exercise-inner {
  position: relative;
  width: 800px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 800px) {
    & {
      width: 100%;
    }
  }
}
