.exercise-inner {
  position: relative;
  width: 800px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.current-exercise-title.finished-exercise--clue {
  color: rgba(255, 64, 129, 1);
}
