@import "../../index.scss";

.timerSector {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .timer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  circle {
    &.circleProgressLine {
      transform: "rotate(-90 ) translate(-100 0)";
    }

    &.exerciseTimer {
      stroke: $exerciseColor;
    }
    &.getReadyTimer {
      stroke: $getReadyColor;
    }
    &.circleBackgroundLine {
      stroke: #eeeeee;
    }
  }
}
