@import "../../../styles/index.scss";

.sectionWrapper {
  width: 100%;

  @media (max-width: 800px) {
    padding-left: 5vw;
  }

  .sectionLineSeparator {
    border-top: 2px solid $lineColor;
    width: 30%;
  }

  .sectionTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 45px;
    color: $sectionTitle;
    @media (max-width: 800px) {
      font-weight: 600;
      font-size: 18px;
      line-height: 35px;
    }
  }
  .musclegroupTitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: $textAccent1;
  }
}
