@import "../../../styles/index.scss";

.userProfileBlock {
  position: absolute;
  align-self: end;
  width: 18vw;
  height: 29.25vw;
  background-color: $lineColor;
  border-radius: 10px;
  font-size: 1.1vw;
  z-index: 5;

  word-break: break-all;

  @media (max-width: 800px) {
    & {
      position: fixed;
      align-self: end;
      width: 70vw;
      height: 70vh;
      font-size: 4.1vw;
    }
  }

  li {
    display: block;
    padding: 5px 20px;
    cursor: pointer;
    color: $textAccent1;
    &:hover {
      color: $actionButtonsColor;
    }
    @media (max-width: 800px) {
      & {
        padding: 10px 20px;
      }
    }

    a {
      text-decoration: none;
      color: $textAccent1;

      &:hover {
        color: $actionButtonsColor;
      }
    }
  }

  .crossImageBlock {
    display: flex;
    justify-content: end;

    padding: 5px 10px;

    .crossImage {
      width: 30px;
      height: 30px;
      cursor: pointer;

      @media (max-width: 800px) {
        & {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
