@import "Section.scss";
@import "Exercise.scss";
@import "Adaptive.scss";

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-Pro-Text-Medium.otf");
  font-weight: 400;
}
h1 {
  font-size: 56px;
}

h2 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h6 {
  margin-top: 4px;
  margin-bottom: 24px;
}

.current-exercise-title,
.get-ready-title {
  text-align: center;
}

// App -------------------------------------
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: "SF Pro Text", sans-serif;
}
// Main Page -------------------------------
.img-container {
  width: 100%;
  align-items: center;
  .intro-img {
    width: 100%;
  }
}

// ActionButton component----------------------------------------
button.action-button {
  font-size: 16px;
  font-weight: 600;

  position: sticky;
  bottom: 2rem;
  height: 56px;
  left: 0%;
  right: 0%;

  border: 0px;
  border-radius: 8px;
  background: #aa00ff;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);
  color: #ffffff;
  cursor: pointer;

  vertical-align: middle;
  user-select: none;
  z-index: 20;
}

button.action-button:focus,
button.action-button:hover {
  outline: none;
  box-shadow: 0 0 20px 5px rgba(170, 0, 255, 0.4);
}
button.action-button:active {
  filter: brightness(85%);
}

a {
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}

// PreparationInner component------------------------------------

.exercise-inner {
  position: relative;
  width: 800px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .preview-img {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pause-informer {
    z-index: 10;
    position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
    padding-top: 10rem;
    backdrop-filter: blur(8px);
    // background: #212121;
    // opacity: 0.64;
    width: 100%;
    height: 100%;
    color: #212121;

    .leave-workout-button {
      width: 256px;
      height: 48px;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #212121;
      border-radius: 8px;
      color: #212121;
      background-color: #ffffff86;
      cursor: pointer;
      user-select: none;

      padding-right: auto;
      padding-left: auto;
      .leave-workout-button-text {
        display: block;
        position: relative;
        top: 50%;
        margin-top: -0.625em;
      }
    }
    .leave-workout-button:hover {
      background-color: #a8a8a859;
    }
    .leave-workout-button:active {
      filter: brightness(85%);
    }
  }
}

// ExerciseInner component------------------------------------------
.timer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

video#video-player {
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  z-index: 20;
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: solid 8px #eeeeee;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    cursor: pointer;
    user-select: none;
  }
}

// footer:focus-within {
//   border-top: solid 8px #eeeeee;
// }

//WorkoutCompleted component-----------------------------------
.completed-img-container {
  margin: auto;
  .completed-img {
    width: 100%;
  }
}
h1.completed-title {
  text-align: center;
}
div.result-message {
  text-align: center;
  margin: auto;
}

.goToHomepage-button {
  width: 7rem;
  height: 1rem;
  cursor: pointer;
}

// ArrowButton component----------------------------------
.arrow-button-wrapper {
  width: 74px;
  height: 48px;
  .arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #aa00ff;
    border-radius: 8px;
    width: 74px;
    height: 48px;

    cursor: pointer;
    user-select: none;
  }
  .extreme-element {
    display: none;
  }
}

// Timer component ----------------------------------------
.timer-sector {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .timer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  circle.circle-progress-line {
    transform: "rotate(-90 ) translate(-100 0)";
  }

  circle.exercise-timer {
    stroke: rgba(255, 64, 129, 1);
  }
  circle.get-ready-timer {
    stroke: rgba(29, 233, 182, 1);
  }
  circle.circle-background-line {
    stroke: #eeeeee;
  }
}

.exercise-title.finished-exercise {
  color: rgba(29, 233, 182, 1);
}
.current-exercise-title.finished-exercise.exercise-done--clue {
  color: rgba(255, 64, 129, 1);
}

.exercise-img-wrapper {
  position: relative;
}

.completed-image {
  display: none;
}
.completed-image.finished-exercise {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 5;
}
