.actionButton {
  position: sticky;
  bottom: 20px;
  height: 56px;

  width: 52vw;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

  left: 0%;
  right: 0%;
  padding-top: 1rem;

  border: 0px;
  border-radius: 8px;
  background: rgb(163, 77, 195); //#aa00ff;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);

  z-index: 20;
  cursor: pointer;
  user-select: none;

  text-align: center;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 20px 5px rgba(170, 0, 255, 0.4);
  }

  &:active {
    filter: brightness(85%);
  }

  @media (max-width: 800px) {
    & {
      bottom: 10px;
      width: 90vw;
      margin: auto;
    }
  }
}
