.exercise-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .exercise-img-wrapper {
    position: relative;
    width: 8rem;
    .exercise-img {
      width: 100%;

      border-radius: 10px;
    }
  }

  .exercise-info-wrapper {
    padding: 16px;
    .exercise-title.finished-exercise {
      color: rgba(29, 233, 182, 1);
    }
  }
}
