@import "../../index.scss";

.sectionWrapper {
  width: 100%;

  .sectionLineSeparator {
    border-top: 2px solid $lineColor;
  }

  .sectionTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: $sectionTitle; //rgb(117, 89, 131);
    @media (max-width: 800px) {
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .musclegroupTitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: $textAccent1; //rgb(186, 165, 196);
  }
}
