.footer {
  z-index: 20;
  position: sticky; //fixed
  bottom: 0;
  width: 100%;
  border-top: solid 8px #eeeeee;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none !important;
  }

  @media (max-width: 800px) {
    position: fixed;
  }

  img {
    cursor: pointer;
    user-select: none;
  }
}
