@import "src/styles/index.scss";

.card {
  display: flex;
  align-items: center;
  margin: 2%;

  width: 45%;
  height: 15vw;

  border-radius: 10px;
  background-color: $lineColor;
  cursor: pointer;

  &:hover {
    background-color: $textAccent1;
    transition: background-color 0.3s;
  }

  @media (max-width: 800px) {
  }

  @media (max-width: 800px) {
  }

  .imageWrapper {
    width: 50px;
    height: 50px;
    // padding: 15px;
    margin-left: auto;
    margin-right: auto;

    .image {
      width: 100%;
      height: auto;
      max-height: 100%;
      @media (max-width: 800px) {
      }
    }
  }
}
