.exerciseInner {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 800px) {
    & {
      width: 100%;
    }
  }
}
