@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/SF-Pro-Text-Medium.otf");
  font-weight: 400;
}
h1 {
  font-size: 56px;
}

h2 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h6 {
  margin-top: 4px;
  margin-bottom: 24px;
}

.current-exercise-title,
.get-ready-title {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: "SF Pro Text", sans-serif;
}

.img-container {
  width: 100%;
  align-items: center;
}

.intro-img {
  width: 100%;
}

.section-line-separator {
  border-top: 1px solid rgba(238, 238, 238, 1);
}

.exercise-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.exercise-img-wrapper {
  width: 15%;
}
.exercise-img {
  width: 100%;

  border-radius: 10px;
}
.exercise-info-wrapper {
  padding: 16px;
}

button.action-button {
  position: sticky;
  bottom: 10%;
  height: 56px;
  left: 0%;
  right: 0%;

  border: 0px;
  border-radius: 8px;
  background: #aa00ff;
  box-shadow: 0px 16px 32px rgba(170, 0, 255, 0.24);
  color: #ffffff;
  cursor: pointer;

  vertical-align: middle;
}

button.action-button:focus,
button.action-button:hover {
  outline: none;
  box-shadow: 0 0 10px 5px rgba(170, 0, 255, 0.4);
}
button.action-button:active {
  background: #69009e;
}

a {
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}

/* Exercise page styles ================================ */
#video-player {
  width: 100%;
  height: auto;
}
.preview-img {
  width: 100%;
}

.timer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-sector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.timer-sector.get-ready-timer {
  background-color: rgba(29, 233, 182, 1);
}
.timer-sector.exercise-timer {
  background-color: rgba(255, 64, 129, 1);
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #ffffff;
}

.back-button,
.forward-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #aa00ff;
  border-radius: 8px;
  width: 74px;
  height: 48px;
  cursor: pointer;
}

/* Workout completed styles ======================== */
.completed-img-container {
  margin: auto;
}
.completed-img {
  width: 100%;
}

.completed-title {
  text-align: center;
}

div.result-message {
  text-align: center;
  margin: auto;
}

/* Adaptive ========================================*/
@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }

  button.action-button {
    position: sticky;
    bottom: 2%;
    width: 90%;
    margin: auto;
  }

  .container,
  .headers-container {
    margin: auto 5% auto 5%;
  }
}
