span.errorMessage {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    font-size: 0.9rem;
    font-weight: 200;
    line-height: 25px;

    color: red;
  }