@import "../../styles/index.scss";

.wrapper {
  width: 52vw;
  margin-top: 8vw;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 800px) {
    margin-top: 20vw;
    width: 75vw;
  }

  fieldset {
    padding: 0 25%;
    @media (max-width: 800px) {
      padding: 0;
    }
  }

  span.errorMessage {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    font-size: 0.9rem;
    font-weight: 200;
    line-height: 25px;

    color: red;
  }

  legend {
    display: block;
    margin-bottom: 10px;

    font-size: 2em;
    font-weight: 600;
    text-align: center;
  }

  label {
    line-height: 25px;
    color: $textAccent1;
  }

  .rolesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .roleBlock {
      width: 45%;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
      &.active {
        color: $getReadyColor;
      }
      &:hover {
        color: $getReadyColor;
      }
    }
  }

  input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px #d9d9d9 solid;
    color: #1d1d1d;
    padding: 0 0.75rem;
    display: block;
    position: relative;

    font-size: 1rem;
    height: 36px;
    line-height: 36px;

    &:hover {
      border-color: silver;
    }
    &:focus {
      box-shadow: 0 0 0 3px rgb(228 228 228 / 45%);
    }
    &:focus-visible {
      outline: none !important;
    }
  }

  // input[type="submit"] {
  //   cursor: pointer;
  //   background: $actionButtonsColor;
  //   color: $actionButtonTextColor;
  //   margin-top: 20px;

  //   &:focus,
  //   &:hover {
  //     outline: none;
  //     box-shadow: 0 0 20px 5px rgba(170, 0, 255, 0.4);
  //   }
  //   &:disabled {
  //     background-color: rgba(97, 26, 132, 0.4);
  //     &:hover {
  //       box-shadow: 0 0 2px 2px rgba(187, 142, 209, 0.4);
  //     }
  //   }
  // }

  span.switchAuthText {
    display: block;
    width: 100%;
    text-align: center;

    font-size: 1rem;
    font-weight: 200;

    a {
      text-decoration: none;
      color: $actionButtonsColor;
    }
  }
}
