.imgContainer {
  width: 52vw;
  align-items: center;
  margin-top: 0;
  border-radius: 10px;

  @media (max-width: 800px) {
    & {
      width: 100vw;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .introImg {
    width: inherit;
    height: auto;

    // @media (max-width: 800px) {
    //   & {
    //   }
    // }
  }
}
